<turbo-stream action="replace" target="tasks_workflow">
  <template>
    <div>
      <h1 class='d-inline-block'>Tasks</h1>

      <div class='float-end mt-3'>
        <%= link_to 'Create Task', new_task_path, class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="tasks_table">
  <template>
    <%= render partial: 'tasks/table', formats: %i[html], locals: { tasks: @tasks } %>
  </template>
</turbo-stream>
