<h1>Edit Task</h1>

<%= render partial: 'form', locals: { projects: @projects, task: @task } %>

<p>
  <%= link_to 'Back to Tasks', tasks_path %>
  |
  <%= link_to 'Back to Task', task_path(@task) %>
</p>
