<h1>Edit Project</h1>

<%= render partial: 'form', locals: { project: @project } %>

<p>
  <%= link_to 'Back to Projects', projects_path %>
  |
  <%= link_to 'Back to Project', project_path(@project) %>
</p>
