/*******************************************************************************
 * THEMES AND VARIABLES
 ******************************************************************************/

:root {
  --slate-h: 215;
  --slate-s: 15%;
  --slate-l: 50%;
  --slate: hsl(
    var(--slate-h),
    var(--slate-s),
    var(--slate-l)
  );
  --slate-10: hsl(
    var(--slate-h),
    var(--slate-s),
    10%
  );
  --slate-15: hsl(
    var(--slate-h),
    var(--slate-s),
    15%
  );
  --slate-30: hsl(
    var(--slate-h),
    var(--slate-s),
    30%
  );
  --slate-35: var(--slate);
  --slate-85: hsl(
    var(--slate-h),
    var(--slate-s),
    35%
  );
  --slate-95: hsl(
    var(--slate-h),
    var(--slate-s),
    95%
  );
  --slate-base: var(--slate);
  --slate-dark: var(--slate-15);
  --slate-light: var(--slate-85);
  --slate-invert: var(--slate-95);
  --slate-dark-invert: var(--slate-light);
  --slate-light-invert: var(--slate-dark);
}

/*******************************************************************************
 * COLORS
 ******************************************************************************/

.has-text-slate {
  color: var(--slate);
}

/*******************************************************************************
 * COMPONENTS
 ******************************************************************************/

.table tr.extended-row td {
  border-bottom: 0;
}
